<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Bookify</title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/productCart.css" rel="stylesheet">
    <link href="/css/productCreate.css" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
    <link href="/css/userDetail.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon/favicon.png">
    <script defer src="/js/carrousel.js"></script>
</head>