<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

    <header>
        <div class="top-header">
            <nav class="contact">
                <a href="">Contacto</a>
                <p>|</p>
                <a href="">Ayuda</a>
            </nav>
            <nav class="account">
                <a href="">Crear cuenta</a>
                <p>|</p>
                <a href="">Mi cuenta</a>
            </nav>
        </div>

        <div class="main-header">
            <img src="/img/logo.jpg" alt="">
            <div class="cart">
                <a href="/views/productCart.html"><i class="fas fa-cart-arrow-down"></i></a>
            </div>
        </div>
        <p>¡Conecta con la lectura!</p>
        <div>
            <div class="bm">
                <i class="fas fa-bars fa-2x"></i>
            </div>
            <form class="search" action="#" method="GET">
                <input type="search" class="buscar" name="terminoBuscado">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>

</body>
</html>