<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-header">
            <a href="/"><img src="/img/logo.jpeg" alt="logo-bookify"></a>
            <div class="top-nav">
                <nav class="contact">
                    <a href="mailto:info@bookify.ar">Contacto</a>
                    <p class="separator-contact">|</p>
                    <a href="#">Ayuda</a>
                </nav>
                <nav class="account">
                    <a href="/register">Crear cuenta</a>
                    <p class="separator-account">|</p>
                    <a href="/login">Mi cuenta</a>
                </nav>
            </div>
            <div class="sloganbox">
                <p class="slogan">¡Conecta con la lectura!</p>
            </div>
        </div>
        <div class="bottom-header">
            <div class="bm">
                <i class="bm-icon fas fa-bars fa-2x"></i>
            </div>
            <form class="search" action="#" method="GET">
                    <input type="search" class="search-bar" name="terminoBuscado">
                    <button><i class="bs fas fa-search"></i></button>
            </form>
        </div>
        <div class="header-select">
            <select name="categories">
                <option value="0">CATEGORÍAS</option>
                <option value="1">Opcion 1</option>
                <option value="2">Opcion 2</option>
                <option value="3">Opcion 3</option>
            </select>
            <select name="news">
                <option value="0">NOVEDADES</option>
                <option value="1">Novedad 1</option>
                <option value="2">Novedad 2</option>
                <option value="3">Novedad 3</option>
            </select>
            <select name="offers">
                <option value="0">OFERTAS</option>
                <option value="1">Oferta 1</option>
                <option value="2">Oferta 2</option>
                <option value="3">Oferta 3</option>
            </select>
            <select name="sells-guide">
                <option value="0">GUIA DE COMPRAS</option>
                <option value="1">Guia 1</option>
                <option value="2">Guia 2</option>
                <option value="3">Guia 3</option>
            </select>
        </div>
        <div class="cart">
            <a href="/productCart"><i class="cart-icon fas fa-cart-arrow-down"></i></a>
        </div>
    </header>
    <main>
<a href="/productDetail">Ver detalle de producto</a>
    </main>
    <footer>
        <div class="top-footer">
            <div class="media">
                <h3>Seguinos en redes</h3>
                <div class="img-media">
                    <a href=""><img src="/img/fb.png" alt="logo-facebook" width="50px" height="50px"></a>
                    <a href=""><img src="/img/tweeter.png" alt="logo-tweeter" width="50px" height="50px"></a>
                    <a href=""><img src="/img/instagram.png" alt="logo-instagram" width="50px" height="50px"></a>
                    <a href=""><img src="/img/whatsapp.png" alt="logo-whatsapp" width="50px" height="50px"></a>
                </div>
            </div>
            <div class="payment">
                <h3>Medios de Pago</h3>
                <div class="img-payment">
                    <div class="img-payment-top">
                        <img src="/img/visa.png" alt="logo-visa" width="37" height="12">
                        <img src="/img/amex.png" alt="logo-amex" width="60" height="30">
                        <img src="/img/master.png" alt="logo-master" width="45" height="25">
                    </div>
                    <div class="img-payment-bottom">
                        <img src="/img/mercado.png" alt="logo-mercado" width="45" height="45">
                        <img src="/img/paypal.png" alt="logo-paypal" width="35" height="30">
                        <img src="/img/rapipago.png" alt="logo-rapipago" width="60" height="45">
                    </div>
                </div>
            </div>
            <div class="catalogue">
                <h3>Catálogo</h3>
                <div class="op-catalogue">
                    <p><a href="#">Libros por categoría</a></p>
                    <p><a href="#">Búsqueda avanzada</a></p>
                </div>
            </div>
            <div class="my-account">
                <h3>Mi Cuenta</h3>
                <div class="op-account">
                    <p><a href="/productCart">Estado de mis Compras</a></p>
                    <p><a href="/register">Crear Cuenta</a></p>
                </div>
            </div>
            <div class="footer-contact">
                <h3>Contacto</h3>
                <div class="op-contact">
                    <p><a href="#">Atención al cliente</a></p>
                    <p><a href="#">Preguntas frecuentes</a></p>
                    <p><a href="#">Cancelaciones</a></p>
                    <p><a href="#">Devoluciones</a></p>
                </div>
            </div>
        </div>
        </div>
        <div class="bottom-footer">
            <div class="data-fiscal">
                <h5>Data Fiscal</h5>
                <div class="img-data">
                    <img src="/img/data.png" alt="qr-data" width="60px" height="60px">
                </div>
            </div>
            <div class="copyright">
                <p>Copyright 2022 - Bookify S.A. Apple Group</p>
                <p>TODOS LOS DERECHOS RESERVADOS</p>
            </div>
        </div>
    </footer>
</body>
</html>