<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
   
    <script defer src="/js/carrousel.js"></script>
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <main>
           <div class="carrousel">
                <ul class="carrousel-slider">
                    <li id="slide1">
                        <div class="other-products">
                            <div class="img-other-products">
                                <img src="/img/universo4.png" alt="Universo 4">
                            </div>
                    </li>
                    <li id="slide2">
                        <div class="img-other-products">
                            <img src="/img/universo.png" alt="Universo 4">
                        </div>
                    </li>
                    <li id="slide3">
                        <div class="img-other-products">
                            <img src="/img/universo2.png" alt="Universo 4">
                        </div>
                    </li>
                    <li id="slide4">
                        <div class="img-other-products">
                            <img src="/img/universo3.png" alt="Universo 4">
                        </div>
                    </li>
                </ul>
                <div class="slider-selection">
                    <ul class="menu-slider">
                        <li>
                            <a href="#slide1">1</a>
                        </li>
                        <li>
                            <a href="#slide2">2</a>
                        </li>
                        <li>
                            <a href="#slide3">3</a>
                        </li>
                        <li>
                            <a href="#slide4">4</a>
                        </li>
                    </ul>
                </div>
            </div>
          
        </main>
        <h3>Lo mas visto de la Semana:</h3>
        <div class="lo-mas-visto">
            <% books.forEach(function(book){%>
                <div class="other-products">
                    <a href="/product/<%= book.id %>">
                        <div class="img-other-products">
                            <img src="/img/<%= book.image %>" alt="Universo 4">
                        </div>
                        <!--
                            <div class="other-products-price">
                                <a href="#">Comprar</a>
                            </div>-->
                    </a>
                </div>
                <% }); %>
        </div>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>

</html>