<%- include("./partials/head.ejs") %>
<body>
<%- include("./partials/header.ejs") %>
    <main>
        <div class="login-box">
            <form action="/user/login" method="POST" class="login">
                <h3>Acceder a Mi Cuenta</h3>
                <img src="/img/line.png" alt="line" class="login-line">
                <h5>Gracias por volver a visitarnos. Te pedimos que ingreses tu usuario y contraseña para acceder a tu cuenta.</h5>
                <p>E-mail</p>
                <input type="text" name="email" placeholder="Escriba su email" class="campo">
                <% if(locals.errors && errors.email) { %>
                    <p class="textError"><%= errors.email.msg %> </p>   
                <% } %>
                <p>*Contraseña</p>
                <input type="text" name="password" placeholder="Contraseña" class="campo">

                <label for="" class="campo">Recordarme</label>
                <input type="checkbox" name="rememberMe" class="rememberButton">
                
                <!--<span>*Campos obligatorios</span>-->
                <img src="/img/line.png" alt="line" class="login-line">
                <div class="access">
                    <a href="#" id="forget">¿Olvidaste tu clave?</a>
                    <input type="submit" value="Acceder" class="boton-enviar">
                </div>
            </form>
        </div>
        <div class="login-box">
            <form action="/login" method="POST" class="login">
                <h3>¿Primera vez en Bookify?</h3>
                <img src="/img/line.png" alt="line" class="login-line">
                <h5 id="text-account">Registrarse en Bookify es simple y seguro. Te pediremos solo algunos datos para hacer el seguimiento de los pedidos y poder procesar tus compras más rápido.</h5>
                <img src="/img/line.png" alt="line" class="login-line">
                <div id="button-account">
                    <input type="submit" value="Crear Cuenta" class="boton-enviar">
                </div>
            </form>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>
</body>
</html>