<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productCreate.css" rel="stylesheet">
</head>
<body>
<%- include("./partials/header.ejs") %>
<main>
    <form class="generalForm" action="/product" method="POST">
        <div class="title">
            <h2>Cargar Libro</h2>
        </div>
        <div class="formContent">
        <label name="title">
            <p>Titulo</p>
            <input type="text" id="title" class="generalinput" name="title" required>
        </label>
        <label name="price">
            <p>Precio</p>
            <input type="number" id="price" class="generalinput" name="price">
        </label>
        <label name="discount">
            <p>Descuento</p>
            <input type="number" id="discount" class="generalinput" name="discount">
        </label>
        <label name="stock">
            <p>Stock Inicial</p>
            <input type="number" id="stock" class="generalinput" name="stock">
        </label>
        <label name="image">
            <p>Portada</p>
            <input type="file" class="inputFile" name="image">
        </label>
        <label name="editorial">
            <p>Editorial</p>
            <input type="text" id="editorial" class="generalinput" name="editorial">
        </label>
        <label name="author">
            <p>Autor</p>
            <input type="text" id="author" class="generalinput" name="author">
        </label>
        <label name="isbn">
            <p>ISBN</p>
            <input type="text" id="isbn" class="generalinput" name="isbn">
        </label>
        <label name="language">
            <p>Lenguaje</p>
            <input type="text" id="language" class="generalinput" name="language">
        </label>
        <label name="peso">
            <p>Peso</p>
            <input type="number" id="peso" class="generalinput" name="peso">
        </label>
        <label name="pages">
            <p>Número de Páginas</p>
            <input type="number" id="pages" class="generalinput" name="pages">
        </label>
        <label name="published">
            <p>Año de Publicación</p>
            <input type="number" id="published" class="generalinput" name="published">
        </label>
        <div class="format">
            <p>Formato</p>
            <label id="option">
                <input name="format" value="Fisico" type="radio" > Fisico
            </label>
            <label id="option">
                <input type="radio" name="format"  value="Digital"> Digital
            </label>
        </div>
        <div class="binding">
            <p>Encuadernación</p>
            <label id="option">
                <input name="binding" value="Tapa Dura" type="radio" > Tapa Dura
            </label>
            <label id="option">
                <input name="binding"  value="Tapa Blanda" type="radio"> Tapa Blanda
            </label>
        </div>
        <p>Categoría de Libro</p>
        <select name="bookCategory">
            <option value="">Seleccionar Categoría</option>
            <option value="Novela">Novela</option>
            <option value="Cuento">Cuento</option>
            <option value="Poesia">Poesías</option>
            <option value="Narrativa">Narrativa</option>
            <option value="Historia">Historia</option>
            <option value="Educacion">Educación</option>
            <option value="Arte">Arte</option>
            <option value="Comic">Comic</option>
        </select>
        <p>Categoría de Venta</p>
        <select name="category">
            <option value="">Seleccionar Categoría</option>
            <option value="Offert">Oferta</option>
            <option value="New">Novedad</option>
        </select>
        <label name="sinopsis">
            <p>Sinopsis</p>
            <textarea class="inputTextarea" name="sinopsis"></textarea>
        </label>
        <div class="buttoms">
            <button type="submit" class="formButtom" class="boton-enviar">Cargar Libro</button>
        </div>
        </div>
    </form>
    </main>
<%- include("./partials/footer.ejs") %>
</body>
</html>