<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/productCart.css" rel="stylesheet">
</head>
<body>
<%- include("./partials/header.ejs") %>
    <main class ="productCart-main">
      <h1>Tu pedido</h1>
      <!-- <div class ="productCart-main"> -->
        <div class = "productCart-main-top">
            <table style="width:100%">
                <tr>
                  <th>&nbsp;</td>
                  <th>Nombre producto</th>
                  <th>Precio unitario</th>
                  <th>Unidades</th>
                  <th>Subtotal</th>
                  <th>&nbsp;</td>
                </tr>
            </table>
            
        </div>
        <div >
            <table style="width:100%">
                 <tr> 
                  <th><input type="submit" value="Seguir comprando"></th>
                  <th><input type="submit" value="Limpiar pedido"></th>
                  <th><input type="submit" value="Actualizar datos"></th>
                </tr> 
            </table>
        </div>

        <div class = "productCart-main-bottom">
          <!-- <h2>Cupón de Descuento</h2> -->
          <div class = "coupon">
            <label for ="icupon">Cupon de Descuento</label>
            <input type="text" name="cupon" id = "icupon" >
            <input type="submit" value="Aplicacion">

            <label for ="icard">Gift Card Virtual</label>
            <input type="text" name="card" id = "icard" >
            <input type="submit" value="Aplicar Gift Card">
          </div>
          <div class = "send">
            <h2>Calcular envio</h2>
            <p>Ingresa tu destino para obtener un precio estimado</p>

            <label for ="iprovincia">Provincia</label>
            <input type="text" name="provincia" id = "iprovincia" >
            <!-- <input type="submit" value="Aplicacion"> -->

            <label for ="icodpostal">Código Postal</label>
            <input type="text" name="codpostal" id = "icodpostal" >
            <input type="submit" value="Calcular">
          </div> 
          <div class = "purchases">
            <h2>Total de Compras</h2>
            <label for ="isubtotal">Subtotal</label>
            <label for ="icupondescuentos">Cupón de descuentos</label>
            <label for ="icostoenvio">Costo de envío</label>
            <label for ="itotal">Total</label>
            <input type="submit" value="Realizar Compras">
            <!-- <input type="text" name="cupon" id = "icupon" >
            <input type="submit" value="Aplicacion"> -->
            
          </div> 
        </div>

      <!-- </div> -->
    </main>
<%- include("./partials/footer.ejs") %>
</body>
</html>