main {
    background-color: white;
    margin-bottom: 15px;
}

.login-box {
    background-color: #D9D9D9;
    border-radius: 5px;
    max-width: 90%;
    padding-bottom: 0px;
    margin: auto;
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

main h3 {
    width: 100%;
    text-align: left;
    color: #ff4343;
    font-size: 2.4rem;
    padding-top: 15px;
    margin: 15px 5px 0px 5px;
}

main h5 {
    font-size: 1.6rem;
    margin-top: 0%;
}

main p {
    font-size: 1.2rem;
}

main span {
    font-style: italic;
    font-size: 1.2rem;
    color: red;
}

.access {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#forget {
    color: black;
    font-style: none;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.login {
    width: 90%;
    margin: auto;
    margin-bottom: 10%;
}

.campo {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
}

.boton-enviar {
    background-color: #ff4343;
    border: none;
    border-radius: 0.5rem;
    width: 40%;
    padding: 1.4rem;
    color: #FFFF;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8%;
}

#button-account {
    display: flex;
    justify-content: right;
}

#text-account {
    margin-bottom: 0%;
}

.login-box img {
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 0%;
}

.rememberButton {
    margin: 10px 0;
}

@media (min-width: 361px){
    .boton-enviar:hover{
        background-color: #03264C;
    }
}

@media (min-width:769px){
    .login-box{
        width: 60%;
    }

    .login{
        width: 60%;
    }
}