
.productCart-main{
    width: 90%;
    margin: auto; 
}
.productCart-main-top{
    
    min-height:150px;
}

.productCart-main-bottom{
    
    background:  #D9D9D9;
    margin:20px auto;
    border: solid 1px #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

label{
  display: block;    
}

.coupon{
    width: 31%;
    display: flex;
    flex-direction: column;
 }

.input-texto{
    width: 80%;
    height: 25px;
    border: solid 1px white;
    border-radius: 5px;
    margin: 4px 0 4px 0;

}

.submit-buttom{

    width: 40%;
    height: 25px;
    background-color: rgb(88, 4, 234);
    border: rgb(88, 4, 234);
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 4px 0 4px 0;
}

.send{
    width: 31%;
    display: flex;
    flex-direction: column;
    
}

.send p{
    font-size: 1.2rem;
}

.purchases{
    width: 31%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    position: relative;
}

.subtotal,.formula-cupon, .costo, .total {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
}

#submit-buttom-purchases{
    width: 40%;
    height: 25px;
    background-color: rgb(88, 4, 234);
    border: rgb(88, 4, 234);
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    right: 0px;
    bottom: 11%;
}

.productCart-main-bottom h2{
    font-size: 1.6rem;
    margin-bottom: 1px;
}

.productCart-main-top{
    
    display: flex;
    width: 100%;
}

table,th{
   height: 15%; ;
   border:solid 1px #D9D9D9;
   border-radius: 10px;
      
}

