* {
    box-sizing: border-box;    
}

html {
    font-size: 10px;
}

body {
    background-color: #FFFFFF;
    font-family: 'Barlow', sans-serif;

    max-width: 1200px;
    width: 100%;
    margin: auto;
}

header {
    background-color: #D9D9D9;
    width: 100%;
}

.top-header {
    display: flex;
    justify-content: flex-end;
}

.contact, .account {
    margin: 5px 10px 0 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.top-header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
} 

.separator-account {
    display: inline;
    color: #FF7F27;
}

.separator-contact {
    display: inline;
    color: #000000;
}

.main-header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-header img {
    width: 190px;
    height: 100%;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.sloganbox {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: #FF7F27;
    font-size: 1.4rem;
    margin-top: 1%;
    margin-left: 2%;
}

.slogan{
    margin: 0px;
    margin-bottom: 1rem;
}

.cart {
    position: absolute;
    right: 10%;
    bottom: 30%;
}

.cart p{
    display: none;
}

.cart-icon { 
    font-size: 3.5rem;
    color: rgb(90, 84, 84);
}

.bottom-header {
    display: flex;
    padding-bottom: 3%;
}

.bm {
    width: 15%;
    display: block;
    margin: auto;
    text-align: center;
    color: #FF7F27;
    border: none;
    padding: 5px;
    background-color: none;
    font-size: 1.5rem;
}
 
.search {
    width: 80%;
    display: flex;
    margin-bottom: auto
}

.contact a{
    color: black;
}

.account a{
    color: #FF7F27;
}

.search-bar {
    width: 80%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 4%;
}

.search button{
    border: none;
    background-color: #FFF;
    color: #666;
    border-radius: 0px 5px 5px 0px;
    padding: 4%;
    font-size: 12px;
}

.header-select{
    display: none
}

main {
    background-color: white;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

footer h3 {
    width: 100%;
    text-align: center;
    color: #eb1377;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.img-media img {
    height: 30px;
    width: 30px;
}

.media {
    display: flex;
    flex-direction: column;
}

.img-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    max-width: 180px;
    margin: auto;
    margin-top: 8px;
}

.payment {
    display: flex;
    flex-direction: column;
}

.img-payment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    margin-top: 8px;
}

.img-payment-top {
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 5px;
}

.img-payment-bottom {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 5%;
}

footer p {
    text-align: center;
    font-size: 1.3rem;
    margin:10px;
}

footer a {
    color: black;
    text-decoration: none;
}


.footer-contact {
    margin-bottom: 20px;
}

.data-fiscal {
    width: 25%;
    margin: auto;
}

.data-fiscal h5, .img-data {
    text-align: center;
    margin: auto;
}

.img-data {
    padding: 8px;
}

.copyright p {
     font-size: 0.8rem;
     margin: 2px;
     text-align: center;
}


@media (min-width:361px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .media, .payment, .catalogue, .my-account, .footer-contact  {
        width: 20%;
        min-width: 105px;
        margin-bottom: 0;
    }

    .bm {
        display: none;
    }

    .top-header a {
        font-size: 1.4rem;
    }

    .main-header {
        flex-direction: row;
        align-items: flex-end;
    }

    .sloganbox {
        margin-bottom: 1rem;
    }

    .sloganbox p {
        font-size: 2.5rem;
    }

    .cart-icon {
        font-size: 5rem;
    }

    .cart {
        right: 10%;
        bottom: 0%;
    }

    .cart p {
        display: block;
        font-size: 2rem;
        text-align: center;
        margin: 0.2rem;
        color: rgb(90, 84, 84);
    }

    .main-header img {
        width: 25%;
    }

    .bottom-header {
        padding-bottom: 1%;
    }

    .header-select {
        display: block;
        margin-left: 2%;
        padding-bottom: 1.5rem;
        font-size: 1.6rem;
        width: 80%;
    }

    .header-select select {
        padding: 0.5rem;
        width: 21%;
    }

    .header-select option {
        color: #FFFFFF;
        background-color: #FF7F27;
        font-size: 2rem;
        }

    .img-media {
        width: 70%;
    }

    .img-media img {
        height: 25px;
        width: 25px;
    }

    .img-payment {
    width: 100%;
    }

    .copyright {
        margin: auto;
    }

    .top-footer {
        display: flex;
        width: 100%;
    }

    .bottom-footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        position: relative;        
    }

    .search button, .search-bar {
        padding: 1rem;
        border:rgb(90, 84, 84) solid 2px;
    }

    .bs {
        font-size: 2rem;
    }

    .search {
        margin-left: 2.5rem;
    }

    .copyright {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        position: absolute;
        height: 100%;
        padding-bottom: 1rem;
    }
    
    .data-fiscal {
        margin: 0;
        margin-left: 95%;

    }
}