* {
    box-sizing: border-box;    
}

html {
    font-size: 10px;
}

body {
    background-color: #FFFFFF;
    font-family: 'Barlow', sans-serif;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

header {
    background-color: #D9D9D9;
    width: 100%;
    position: relative;
}

.top-nav {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    right: 0;
    top: 5px;
}

.top-header {
    display: flex;
    justify-content: flex-end;
}

.contact, .account {
    margin: 5px 10px 0 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.top-header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
} 

.account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;;

}    

.separator-account {
    display: none;
    color: #FF7F27;
}

.separator-contact {
    display: inline;
    color: #000000;
}

.main-header {
    /* Valor anterior:
    display: flex;
    flex-direction: column;
    position: relative; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-header img {
    /* Valor anterior:
    width: 190px;
    height: 100%;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 2%;*/
    width: 190px;
    height:60px;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 8px;
}

@keyframes logo {
    0% { opacity: 20% }
    25% {opacity: 80%}
    100% {opacity: 20%}
}

.main-header img:hover {
    animation: logo 3s infinite;
    animation-direction: reverse;
}

/* Valor anterior:
.sloganbox {
    display: block;
    font-style: italic;
    font-weight: bold;
    color: #FF7F27;
    font-size: 1.4rem;
    margin-top: 1%;
    margin-left: 2%;
}*/

.sloganbox {
    font-style: italic;
    font-weight: bold;
    color: #FF7F27;
    font-size: 1.4rem;
    margin-top: 5px;
    margin-left: 8px;
}

.slogan{
    margin: 0px;
    /* Valor anterior: 
    margin-bottom: 1rem;*/
}

.cart {
    position: absolute;
    right: 15px;
    bottom: 30%;
    /* Valor anterior:
    position: absolute;
    right: 10%;
    bottom: 30%;*/
}

.cart p{
    display: none;
}

.cart-icon { 
    /* valor anterior: font-size: 3.5rem;*/
    font-size: 3rem;
    color: rgb(90, 84, 84);
}

.bottom-header {
    /* Valor anterior: display: flex;
    padding-bottom: 3%;*/
    display: flex;
    margin: 10px;
    /* Aca estaria bueno poner un color de fondo*/
    align-items: center;
}

.bm {
    width: 15%;
    display: block;
    margin: auto;
    text-align: center;
    color: #FF7F27;
    border: none;
    padding: 5px;
    background-color: none;
    font-size: 1.5rem;
}
 
.search {
    width: 80%;
    display: flex;
    margin-bottom: auto
}

.contact a{
    color: black;
}

.account a{
    color: #FF7F27;
}

.search-bar {
    /* Valor anterior:
    width: 80%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 4%;*/
    width: 85%;
    height: 32px;
    border-radius: 5px;
    border: solid 1px #7F7F7F;
    padding: 4%;
    margin-top: 4px;
}

.search button{
    /* Valor anterior: 
    border: none;
    background-color: #FFF;
    color: #666;
    border-radius: 0px 5px 5px 0px;
    padding: 4%;
    font-size: 12px;*/
    border: none;
    color: #666;
    border-radius: 0px 5px 5px 0px;
    padding: 4%;
    font-size: 16px;
    background-color: #D9D9D9;
}

.header-select{
    display: none
}

main {
    background-color: white;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

footer h3 {
    width: 100%;
    text-align: center;
    color: #eb1377;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.img-media img {
    height: 30px;
    width: 30px;
}

.media {
    display: flex;
    flex-direction: column;
}

.img-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    max-width: 180px;
    margin: auto;
    margin-top: 8px;
}

.payment {
    display: flex;
    flex-direction: column;
}

.img-payment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    margin-top: 8px;
}

.img-payment-top {
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 5px;
}

.img-payment-bottom {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 5%;
}

footer p {
    text-align: center;
    font-size: 1.3rem;
    margin:10px;
}

footer a {
    color: black;
    text-decoration: none;
}


.footer-contact {
    margin-bottom: 20px;
}

.data-fiscal {
    width: 25%;
    margin: auto;
}

.data-fiscal h5, .img-data {
    text-align: center;
    margin: auto;
}

.img-data {
    padding: 8px;
}

.copyright p {
     font-size: 0.8rem;
     margin: 2px;
     text-align: center;
}


@media (min-width:540px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .media, .payment, .catalogue, .my-account, .footer-contact  {
        width: 20%;
        min-width: 105px;
        margin-bottom: 0;
    }

    .bm {
        display: none;
    }

    .top-header a {
        font-size: 1.4rem;
    }

    /*Esto antes no estaba:*/
    .contact, .account {
        margin: 5px 10px 0 0;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .main-header {
        flex-direction: row;
        align-items: flex-end;
    }

    .sloganbox {
        /* Esto antes no estaba:*/
        border: 50%;
        font-size: 1.6rem;
        /*valor anterior: margin-bottom: 1rem;*/
    }

    .sloganbox p {
        /* Valor anterior
        font-size: 2.5rem;*/
        font-size: 2rem;
    }

    .cart-icon {
        /* Valor anterior:
        font-size: 5rem;*/
        font-size: 3.5rem
    }
   
    /*Esto antes no estaba:*/
    .cart {
        /* Valor anterior:
        right: 10%;
        bottom: 0%;*/
        /* Se agrega/modifica:*/
        position: absolute;
        right: 30px;
        bottom: 55px;
        text-align: center;
    }
    
    /* Habria que eliminar:
    .cart p {
        display: block;
        font-size: 2rem;
        text-align: center;
        margin: 0.2rem;
        color: rgb(90, 84, 84);
    }*/

    .main-header img {
        /* Valor anterior
        width: 25%;*/
    }

    .bottom-header {
        /* Valor anterior:
        padding-bottom: 1%;*/
        /*Esto antes no estaba:*/
        display: flex;
  
    }

    .header-select {
        /* Valor anterior: 
        display: block;
        margin-left: 2%;
        padding-bottom: 1.5rem;
        font-size: 1.6rem;
        width: 80%; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 5px auto;
        font-size: 1.6rem;
        width: 100%;
        height: 40px;
        gap:2%;
        background-color:#FF7F27; /*Esto es nuevo, se puede cambiar*/
    }

    .header-select select {
        /* Valor anterior:
        padding: 0.5rem;
        width: 21%;*/
        padding: 0.5rem;
        background-color:#FF7F27;
        color: #FFFFFF;
        font-weight: bold;
        border-radius: 5px;
        border: #0096c7 ;
    }

    .header-select option {
        color: #FFFFFF;
        background-color: #FF7F27;
        font-size: 2rem;
        }

    .img-media {
        width: 70%;
    }

    .img-media img {
        height: 25px;
        width: 25px;
    }

    .img-payment {
    width: 100%;
    }

    .copyright {
        margin: auto;
    }

    .top-footer {
        display: flex;
        width: 100%;
    }

    .bottom-footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        position: relative;        
    }

    .search button, .search-bar {
        padding: 1rem;
        /* Valor anterior:  border:rgb(90, 84, 84) solid 2px;*/
        border: #D9D9D9;/*Esto antes no estaba:*/
    }

    .bs {
        font-size: 2rem;
    }

    .search {
        /* Valor anterior: margin-left: 2.5rem;*/
        margin-left: 2px;
    }

    .copyright {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        position: absolute;
        height: 100%;
        padding-bottom: 1rem;
    }
    
    .data-fiscal {
        margin: 0;
        margin-left: 95%;

    }
}

 @media (min-width:769px) {

        .top-nav {
            display: flex;
            flex-direction: row;
            text-align: right;
            position: absolute;
            right: 0;
            top: 5px;
        }
        
        .contact, .account {
            margin: 5px 10px 0 0;
            font-weight: bold;
            font-size: 1.3rem;
            display: inline;
        }
        .separator-account {
            display: inline;
        }

}
